        .firstPractice{
            display: grid;
            grid-template-columns: 200px 75px;
        }

        .secondPractice{
            display: grid;
            grid-template-columns: 50px 1fr 75px;
        }

        .thirdPractice{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            column-gap: 20px;
            row-gap: 10px;
        }